In [8]:
import pandas as pd

df = pd.read_parquet("data/raw/yellow_tripdata_2025-01.parquet")
df.head()

ModuleNotFoundError: No module named 'pandas'

In [9]:
df = pd.read_parquet("../Data/Raw/yellow_tripdata_2025-01.parquet")
df.head()

NameError: name 'pd' is not defined

In [10]:
! pip install pandas pyarrow fastparquet

"pip" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [11]:
py --version

NameError: name 'py' is not defined

In [12]:
# This will print the Python version
import sys
print(sys.version)

3.13.7 (tags/v3.13.7:bcee1c3, Aug 14 2025, 14:15:11) [MSC v.1944 64 bit (AMD64)]

In [14]:
import pandas as pd

df = pd.read_parquet("data/raw/yellow_tripdata_2025-01.parquet")
df.head()

ModuleNotFoundError: No module named 'pandas'

In [16]:
import pandas as pd

df = pd.read_parquet("../Data/Raw/yellow_tripdata_2025-01.parquet")
df.head()

ModuleNotFoundError: No module named 'pandas'

In [18]:
 ยก pip install pandas pyarrow fastparquet

SyntaxError: invalid character 'ยก' (U+00A1) (1233704015.py, line 1)

In [20]:
pip install pandas pyarrow fastparquet

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: pyarrow in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (22.0.0)
Requirement already satisfied: fastparquet in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2025.12.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: cramjam>=2.3 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: fsspec in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from fastparquet) (2026.1.0)
Requirement already satisfied: packaging in c:\users\admin\appdata\roaming\python\python313\site-packages (from fastparquet) (25.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import os
os.getcwd()

'c:\\Users\\admin\\Desktop\\end_to_end_customer_risk_system\\notebooks'

In [25]:
df = pd.read_parquet("../Data/Raw/yellow_tripdata_2025-01.parquet")
df.head()

NameError: name 'pd' is not defined

In [27]:
df = pd.read_parquet("../Data/Raw/yellow_tripdata_2025-01.parquet")
df.head()

NameError: name 'pd' is not defined

In [29]:
import pandas as pd

In [ ]:
df = pd.read_parquet("../Data/Raw/yellow_tripdata_2025-01.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0